<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NotepadApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NablaNotes">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.tracker.TrackerPopupActivity"
            android:exported="false"
            android:theme="@style/Theme.NablaNotes.TrackerPopup"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <receiver
            android:name=".widget.TrackerWidget"
            android:exported="true"
            android:label="@string/widget_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tracker_widget_info" />
        </receiver>

        <!--
            MSAL redirect URI activity.
            Update android:path with your actual signature hash.
            Get it by running:
              keytool -exportcert -alias androiddebugkey -keystore ~/.android/debug.keystore | openssl sha1 -binary | openssl base64
            Then register in Azure AD: msauth://com.nabla.notes/<HASH>
        -->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.nabla.notes"
                    android:path="/3kezWOFkN+leRVL/ddB4wxeCZnM="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

    </application>

</manifest>
